@import "../../bower_components/fullcalendar/dist/fullcalendar.css";
@import "../../bower_components/angular-datepicker/dist/index.css";


.header-logo {
  color: #fff;
  font-size: 18px;
  text-align: center;
  .fa {
    font-size: 30px;
    margin-bottom: 10px;
  }
}
