<div class="wrapper wrapper-content white-bg">
    <div class="bg-calendar__edit-date">
        <div class="form-group" ng-hide="dgCalendarIns.editDateToggle">
            <input type="datetime" class="form-control" required="true"
                   date-time
                   name="game_date"
                   ng-model="dgCalendarIns.scope.date"
                   view="month"
                   max-view="year"
                   min-view="month"
                   format='MM/yyyy'>
        </div>
        <div class="bg-calendar__title" ng-show="!!dgCalendarIns.editDateToggle">
            <span class="bg-calendar__title--in">{{dgCalendarIns.title}}</span>
            <i ng-click="dgCalendarIns.editDateToggle = !dgCalendarIns.editDateToggle" class="fa fa-edit"></i>
        </div>
    </div>
    <div class="bg-calendar"></div>
</div>