<div class="wrapper wrapper-content white-bg">
    <div class="bg-calendar__edit-date">
        <div class="bg-calendar__date-picker--wrapper" ng-hide="dgCalendarIns.editDateToggle">
            <div ng-class="{open: !dgCalendarIns.editDateToggle}">
                <ul class="dropdown-menu" role="menu">
                    <div date-picker="dgCalendarIns.date" view="month" max-view="year" min-view="month"></div>
                 </ul>
                <span class="">
                    <i class="fa fa-times" ng-click="dgCalendarIns.fullCalendar.onEditDateToggle()"></i>
                </span>
            </div>
        </div>
        <div class="bg-calendar__title" ng-show="!!dgCalendarIns.editDateToggle">
            <span class="bg-calendar__title--in">{{dgCalendarIns.title}}</span>
            <i ng-click="dgCalendarIns.fullCalendar.onEditDateToggle()" class="fa fa-edit"></i>
        </div>
    </div>
    <div class="bg-calendar"></div>
</div>