<div class="modal-body">

    <h3 class="m-t-none m-b">Join Game</h3>
    <p>This is game join description</p>

    <form role="form" name="join_game_form" novalidate>
        <div class="row">
            <div class="col-md-4">
                <div class="row" style="margin-top: 12px;">
                    <img class="img-thumbnail img-responsive" ng-src="{{game.img}}" src="http://placehold.it/289x289">
                </div>
                <div class="row" style="margin-top: 15px;">
                    <h3>Players <span class="label label-primary">3 - 5</span></h3>
                    <ul class="list-group clear-list m-t">
                      <li class="list-group-item fist-item">
                          <span class="label label-success pull-right">+380631134929</span>
                          <span class="label label-success">1</span> Vasiliy
                      </li>
                      <li class="list-group-item">
                          <span class="label label-primary">2</span> Artem
                      </li>
                      <li class="list-group-item">
                          <span class="label label-primary">3</span> Misha
                      </li>
                      <li class="list-group-item">
                          <span class="label label-default">4</span> Available
                      </li>
                      <li class="list-group-item">
                          <span class="label label-default">5</span> Available
                      </li>
                    </ul>
                    <button type="button" class="btn btn-primary m-r-sm btn-block">Join Game</button>
                </div>
            </div>
            <div class="col-md-8">
                <h3>Arkham Horror</h3>
                <p><b>Where</b>: <a href="#">Lidersovskiy 9a</a></p>
                <p><b>When:</b>: 17/10/2014 18:00</p>

                <p><b>Some info about event:</b><br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eos facilis, suscipit alias, ipsa temporibus ipsum reiciendis aliquam. Assumenda et nesciunt, odio, ad facere blanditiis eos totam dignissimos fugiat debitis. Exercitationem fugiat at cumque eum. Esse excepturi quo sint blanditiis eveniet, vero totam, beatae fugit! Animi tempore voluptas ut inventore voluptatem debitis repudiandae, cum iure voluptate nobis consectetur id fugit. Laudantium reiciendis vero beatae at aperiam obcaecati, ullam pariatur praesentium velit officiis. Nisi praesentium culpa, nemo ducimus quos modi cupiditate atque optio, eaque dolor iure. Cumque ipsam, molestias et corporis inventore aut perferendis sapiente, quam ex aspernatur consequuntur repellendus, magni! </p>

                <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>About Arkham Horror</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-3">
                                        <img alt="image" class="img-responsive pull-left" src="http://placehold.it/100x100">
                                    </div>
                                    <div class="col-md-9">
                                        <p><b>Year Published</b>: 2005</p>
                                        <p><b># of Players</b>: 1 − 8 </p>
                                        <p><b>Playing Time</b>: 240 minutes</p>
                                    </div>
                                </div>
                                <br>
                                <blockquote>
                                <p style="font-size: 14px; font-style: italic;">
                                    The year is 1926, and it is the height of the Roaring Twenties. Flappers dance till dawn in smoke-filled speakeasies drinking alcohol supplied by rum runners and the mob. It's a celebration to end all celebrations in the aftermath of the war to end all wars.<br>
                                    Only a handful of investigators stand against the Arkham Horror. Will they Prevail?
                                </p>
                                </blockquote>
                                <p>
                                    Arkham Horror is a cooperative adventure game themed around H.P Lovecraft's Cthulhu Mythos. Players choose from 16 Investigators and take to the streets of Arkham. Before the game, one of the eight Ancient Ones is chosen and it's up to the Investigators to prevent it from breaking into our world. During the course of the game, players will upgrade their characters by acquiring skills, allies, items, weapons, and spells. It's up to the players to clean out the streets of Arkham by fighting many different types of monsters, but their main goal is to close portals to other dimensions that are opening up around town. With too many portals open the Ancient One awakens and the players only have one last chance to save the world. Defeat the Ancient One in combat!
                                </p>
                                <div class="buttons">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-default btn-sm btn-block">More on bgg.com</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-default btn-sm btn-block">More on tesera.ru</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="create()">Join</button>
</div>
