<div ng-class="{'chose-city': !dgCityPickerIns.themeBootstrap, 'dg-type-ahead': dgCityPickerIns.themeBootstrap}">

  <ui-select ng-if="dgCityPickerIns.themeBootstrap"
          ng-model="dgCityPickerIns.city.selected"
          theme="bootstrap"
          on-select="dgCityPickerIns.onCitySelectByCreatePlay($item, $model)">

    <ui-select-match placeholder="Выберите город">
      {{$select.selected.name}}
    </ui-select-match>

    <ui-select-choices repeat="city in dgCityPickerIns.cities | filter: $select.search"
                       refresh="dgCityPickerIns.getCities()" refresh-delay="0">

      <div ng-bind-html="city.name | highlight: $select.search"></div>

    </ui-select-choices>

  </ui-select>

  <ui-select ng-if="!dgCityPickerIns.themeBootstrap"
          ng-model="dgCityPickerIns.city.selected"
          theme="select2"
          on-select="dgCityPickerIns.onCitySelect($item, $model)">

    <ui-select-match allow-clear="true" placeholder="Выберите город">
      {{$select.selected.name}}
    </ui-select-match>

    <ui-select-choices repeat="city in dgCityPickerIns.cities | filter: $select.search"
                       refresh="dgCityPickerIns.getCities()" refresh-delay="0">

      <div ng-bind-html="city.name | highlight: $select.search"></div>

    </ui-select-choices>

  </ui-select>

</div>
