@import "../../bower_components/fullcalendar/dist/fullcalendar.css";
@import "../../bower_components/angular-datepicker/dist/index.css";
@import "../../bower_components/ladda-bootstrap/dist/ladda-themeless.css";
@import "../../bower_components/angularjs-toaster/toaster.css";
@import "../../bower_components/angular-ui-select/dist/select.css";
@import "../../bower_components/select2/select2.css";

@import "./global";
@import "./global-loader";
@import "./games";
@import "./calendar";
@import "./header";
@import "./forms";
@import "./ui-select";

.header-logo {
  color: #fff;
  font-size: 18px;
  text-align: center;
  .fa {
    font-size: 30px;
    margin-bottom: 10px;
  }
}

// Fix angular animations
.ng-hide {
  display: none !important;
}
.ng-hide-add {
    transition: 0s linear all;
}
