.players-count-form {
  .control-label {
    padding-top: 6px;
  }
}

.join-play-tabs {
  h2 {
    margin-top: 0;
  }

  .panel-heading {
    padding: 0;
  }

  .panel-body {
    padding-left: 0;
    padding-right: 0;
  }
}