<div>

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-3">
      <h2>Хочу поиграть в...</h2>
      <ol class="breadcrumb">
        <li>
          <a href="#!/">Главная</a>
        </li>
        <li class="active">
          <strong>Хочу поиграть в...</strong>
        </li>
      </ol>
    </div>
  </div>

  <div class="row white-bg">

    <div class="col-sm-4">
      <div class="ibox">
        <div class="ibox-title">
          <h3>Игры</h3>
        </div>
        <div class="ibox-content">
          <dg-game-picker></dg-game-picker>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ibox">
        <div class="ibox-title">
          <h3>Города</h3>
        </div>
        <div class="ibox-content">
          <dg-city-picker></dg-city-picker>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ibox">
        <div class="ibox-title">
          <h3>Когда уведомлять</h3>
        </div>
        <div class="ibox-content">
          <div>
            <dg-wishlist-time-picker></dg-wishlist-time-picker>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>