<div>

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-3">
      <h2>Хочу поиграть в...</h2>
      <ol class="breadcrumb">
        <li>
          <a href="#!/">Главная</a>
        </li>
        <li class="active">
          <strong>Хочу поиграть в...</strong>
        </li>
      </ol>
    </div>
  </div>

  <div class="row white-bg">

    <div class="col-sm-4">
      <div class="ibox">
        <div class="ibox-title">
          <h3>Игры</h3>
        </div>
        <div class="ibox-content">
          <dg-multi-game-picker on-change="dgWishlistIns.onGameSelectChange(item, model, selected)"
                                selected-items="dgWishlistIns.wishlist.gameSubscriptions">
          </dg-multi-game-picker>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ibox">
        <div class="ibox-title">
          <h3>Города</h3>
        </div>
        <div class="ibox-content">
          <dg-multi-city-picker on-change="dgWishlistIns.onCitySelectChange(item, model, selected)"
                                selected-items="dgWishlistIns.wishlist.citySubscriptions">
          </dg-multi-city-picker>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="ibox">
        <div class="ibox-title">
          <h3>Когда уведомлять</h3>
        </div>
        <div class="ibox-content">
          <div>
            <dg-wishlist-time-picker on-change="dgWishlistIns.onTimePeriodSelectChange(item)"
                                     selected-item="dgWishlistIns.wishlist.notificationPeriod">
            </dg-wishlist-time-picker>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>