<div class="modal-body">

    <h3 class="m-t-none m-b">New Play</h3>
    <p>This is create new play description</p>

    <form role="form" name="playNewIns.create_game_form" novalidate 
        dg-loading-locker is-loading="playNewIns.state.isLoading">
        <div class="row">
            <div class="col-md-4">
                <div class="row" style="margin-top: 12px;">
                    <img class="img-thumbnail" ng-src="{{playNewIns.playData.img}}" src="http://placehold.it/290x160">
                </div>
                <div class="row" style="margin-top: 15px;">
                    <div class="form-group">
                        <div class="row">
                            <label class="col-sm-4 control-label">Players</label>
                            <div class="col-sm-3">
                                <input
                                    type="text" class="form-control"
                                    name="min_players"
                                    required ng-pattern="playNewIns.onlyNumbers" 
                                    ng-model="playNewIns.playData.playersMin">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" class="form-control"
                                    name="max_players"
                                    required ng-pattern="playNewIns.onlyNumbers"
                                    ng-model="playNewIns.playData.playersMax">
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-sm-10 control-label" ng-show="playNewIns.create_game_form.min_players.$dirty && playNewIns.create_game_form.min_players.$invalid">
                                    Min players is required
                            </label>
                        </div>
                        <div class="row">
                            <label class="col-sm-10 control-label" ng-show="playNewIns.create_game_form.max_players.$dirty && playNewIns.create_game_form.max_players.$invalid">
                                    Man players is required
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="game_name">Game name</label>
                    <input class="form-control"
                            name="game_name"
                            type="text"
                            required ng-model="playNewIns.playData.name"
                            placeholder="For example: Arkham Horror">

                    <span class="help-block m-b-none error"
                        ng-show="playNewIns.create_game_form.game_name.$dirty && playNewIns.create_game_form.game_name.$invalid">
                        Game name is required
                    </span>
                </div>

                <div class="form-group">
                    <label for="game_where">City</label>
                    <input class="form-control"
                           name="game_city"
                           type="text" required="true"
                           ng-model="playNewIns.playData.city"
                           placeholder="For example: Odessa">
                    <span class="help-block m-b-none error"
                        ng-show="playNewIns.create_game_form.game_city.$dirty && playNewIns.create_game_form.game_city.$invalid">
                        City is required
                    </span>
                </div>

                <div class="form-group">
                    <label for="game_where">Where</label>
                    <input class="form-control"
                           name="game_address"
                           type="text" required="true"
                           ng-model="playNewIns.playData.address"
                           placeholder="For example: Unit caffee address XXXX">
                    <span class="help-block m-b-none error"
                        ng-show="playNewIns.create_game_form.game_address.$dirty && playNewIns.create_game_form.game_address.$invalid">
                        Address is required
                    </span>
                </div>

                <div class="form-group">
                    <label for="game_date">When</label>
                    <input type="datetime" class="form-control" required="true"
                        date-time
                        name="game_date"
                        ng-model="playNewIns.playData.when"
                        view="date"
                        format='dd/MM/yyyy HH:mm'>
                    <span class="help-block m-b-none error"
                        ng-show="playNewIns.create_game_form.game_date.$dirty && playNewIns.create_game_form.game_date.$invalid">
                        Game date is required
                    </span>
                </div>

                <div class="form-group">
                    <label for="game_description">Description</label>
                    <textarea class="form-control" name="dame_description" rows="8" ng-model="playNewIns.playData.description"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="playNewIns.cancel()">Cancel</button>
    <button type="button" class="btn ladda-button"
        ng-class="{'btn-primary': playNewIns.create_game_form.$valid}"
        is-loading="playNewIns.state.isLoading" dg-button-loader data-style="zoom-out" 
        ng-click="playNewIns.create()">
        Create
    </button>
</div>
