<div class="modal-body">

    <h3 class="m-t-none m-b">Присоеденится к игре</h3>

    <form role="form" name="joinIns.join_game_form" novalidate>
        <div class="row">
            <div class="col-md-8">
                <div class="row m-b-sm">
                    <div class="col-md-3">
                        <img class="img-thumbnail img-responsive" ng-src="{{joinIns.playData.img}}" src="http://placehold.it/100">
                    </div>
                    <div class="col-md-9">
                        <h3>{{joinIns.playData.game.nameOrigin}}</h3>
                        <p><b>Где</b>: <a target="_blank" ng-href="https://www.google.com.ua/maps/place/{{joinIns.playData.city.formatted_address}}, {{joinIns.playData.address}}">{{joinIns.playData.city.formatted_address}}, {{joinIns.playData.address}}</a></p>
                        <p><b>Когда</b>: {{joinIns.playData.when}}</p>
                        <p class="well">{{joinIns.playData.description}}</p>
                    </div>
                </div>

                <div class="ibox float-e-margins m-b-none">
                    <div class="ibox-content p-xs">
                        <div class="row">
                            <div class="col-sm-4" ng-show="joinIns.playData.creator.avatar">
                                <img alt="image" class="img-circle img-responsive" ng-src="{{joinIns.playData.creator.avatar}}">
                            </div>
                            <div class="col-sm-8">
                                <h2>{{joinIns.playData.creator.username}}</h2>
                                <span class="badge badge-success m-b-xxs">Организатор</span><br>
                                <a href="mailto:{{joinIns.playData.creator.email}}">{{joinIns.playData.creator.email}}</a><br>
                                {{joinIns.playData.creator.phone}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="m-t-xs">
                    <div class="widget style2 navy-bg p-xs m-t-none">
                        <div class="row vertical-align">
                            <div class="col-xs-7">
                                <h4 class="m-n"><i class="fa fa-user fa-1x"></i> Лимит игроков</h4>
                            </div>
                            <div class="col-xs-5 text-right">
                                <h4 class="m-n">
                                    <span ng-if="joinIns.playData.playersMin == joinIns.playData.playersMax">
                                        {{joinIns.playData.playersMin}}
                                    </span>

                                    <span ng-if="joinIns.playData.playersMin != joinIns.playData.playersMax">
                                        {{joinIns.playData.playersMin}} - {{joinIns.playData.playersMax}}
                                    </span>
                                </h4>
                            </div>
                        </div>
                    </div>


                    <div class="">
                        <div class="project-completion">
                            <small>Присоеденилось <b>{{joinIns.playData.players.length}}</b> из <b>{{joinIns.playData.playersMax}}</b> игроков</small>
                        </div>
                    </div>


                    <div class="feed-activity-list m-t">

                        <div class="feed-element" ng-repeat="player in joinIns.playData.players">
                            <a href="#" class="pull-left">
                                <img alt="image" class="img-circle" src="http://webapplayers.com/inspinia_admin-v1.9.1/img/a3.jpg">
                            </a>
                            <div class="media-body ">
                                <span class="label label-success pull-right" ng-if="player.phone">
                                    {{player.phone}}
                                </span>
                                <strong>{{player.name}} {{player.email}}</strong>
                                <span ng-show="joinIns.isPlayer(player)">(это вы)</span>
                                <div class="pull-right m-t">
                                    <!-- <a class="btn btn-xs btn-danger"><i class="fa fa-times"></i> Исключить</a> -->
                                    <!-- <a class="btn btn-xs btn-primary"><i class="fa fa-envelope"></i> Написать</a> -->
                                    <button
                                        ng-show="joinIns.isPlayer(player)"
                                        ng-click="joinIns.leave()" is-loading="joinIns.state.isLoading"
                                        dg-button-loader data-style="zoom-out"
                                        type="button" class="btn btn-danger btn-xs ladda-button">
                                        Покинуть игру
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div ng-show="!joinIns.state.limitReached || joinIns.state.alreadyJoined" class="m-t m-b">
                        <button
                            ng-show="!joinIns.state.alreadyJoined"
                            ng-click="joinIns.join()" is-loading="joinIns.state.isLoading"
                            dg-button-loader data-style="zoom-out"
                            type="button" class="btn btn-primary btn-rounded btn-block ladda-button">
                            Присоедениться к игре
                        </button>
                    </div>
                    <p ng-show="joinIns.state.limitReached && !joinIns.state.alreadyJoined" class="alert alert-warning">
                        Sorry limit has been already reached, please contact organizer
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" ng-show="joinIns.isOwner() || joinIns.isAdmin">
    <button type="button" class="btn btn-default" ng-click="joinIns.edit()">
        Редактировать игротеку
    </button>
    <button type="button" class="btn btn-danger" ng-click="joinIns.doDelete()">
        Удалить игротеку
    </button>
</div>
