<div class="contact-box">
  <div class="col-sm-4">
    <div class="text-center">
      <a ng-href="#!/games/{{dgBggBoardgameDetails.game.$id()}}/mode/view">
        <img alt="image" class="img-circle m-t-xs img-responsive"
             ng-src="{{dgBggBoardgameDetails.game.getThumb()}}">
      </a>

      <div class="file-manager">
        <ul class="tag-list" style="padding: 0">
          <li ng-repeat="category in ::dgBggBoardgameDetails.gameCategory">
            <span>{{::category.name}}</span>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <h3><strong><a ng-href="#!/games/{{dgBggBoardgameDetails.game.$id()}}/mode/view">
      {{dgBggBoardgameDetails.game.getName()}}</a></strong></h3>

    <p title="Year of publish"><i class="fa fa-calendar"></i> {{dgBggBoardgameDetails.game.yearpublished}}</p>

    <p><i class="fa fa-group"></i> {{dgBggBoardgameDetails.game.maxplayers}}</p>

    <p title="Min players"><i class="fa fa-user-md"></i> {{dgBggBoardgameDetails.game.minplayers}}</p>


    <p content="{{dgBggBoardgameDetails.game.getDescription()}}" dg-read-more limit="75"></p>

  </div>
  <div class="clearfix"></div>
</div>