<div>
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-md-3">
      <h2>Список игр</h2>
      <ol class="breadcrumb">
        <li>
          <a ng-href="#!/">Главная</a>
        </li>
        <li class="active">
          <strong>Список игр</strong>
        </li>
      </ol>
    </div>
    <div class="col-md-6 dg-list__header__element">
      <div class="input-group">
        <input type="text" ng-model="dgGListIns.search" ng-keyup="$event.keyCode == 13 && dgGListIns.doSearch()" placeholder="Поиск игр" class="input form-control">
            <span class="input-group-btn">
              <button type="button" class="btn btn btn-success" ng-click="dgGListIns.doSearch(dgGListIns.search)">
                <i class="glyphicon glyphicon-search"></i> Найти
              </button>
            </span>
      </div>
    </div>
  </div>
  <div class="wrapper wrapper-content">
    <div class=row>
      <div class="col-lg-4" ng-repeat="game in games = (dgGListIns.games |
        slice:dgGListIns.pagination.currentPage:dgGListIns.pagination.itemsPerPage)">
        <dg-bgg-boardgame-details game-id="game.$id()" cache="true"></dg-bgg-boardgame-details>
      </div>
    </div>
    <div ng-hide="!!dgGListIns.pagination.gamesCount" class="dg-list__empty-list">Нету игр</div>
    <div ng-show="!!dgGListIns.pagination.gamesCount" class="dg-list__pagination">
      <pagination class="pagination-sm"
                  first-text="В начало"
                  last-text="В конец"
                  total-items="dgGListIns.pagination.gamesCount"
                  max-size="dgGListIns.pagination.itemsPerPage"
                  boundary-links="true"
                  rotate="false"
                  direction-links="false"
                  ng-model="dgGListIns.pagination.currentPage"
              >
      </pagination>
    </div>
  </div>
</div>