<div class="choose-cities">
  <ui-select multiple theme="select2" class="bg-select bg-select--stretch"
             ng-model="dgMultiGamePickerIns.selectedGames"
             ng-change="dgMultiGamePickerIns.onSelectChange($item, $model)">

    <ui-select-match allow-clear="true" placeholder="Выберите игры...">{{$item.nameOrigin}}</ui-select-match>

    <ui-select-choices repeat="game in dgMultiGamePickerIns.games | filter: $select.search"
                       refresh="dgMultiGamePickerIns.getGames()" refresh-delay="0">

      <div ng-bind-html="game.nameOrigin | highlight: $select.search"></div>

    </ui-select-choices>

  </ui-select>
</div>