<li>
    <div class="navbar-default">
        <ul class="nav"
          ng-if="dgUserMenuIns.user" dropdown is-open="dgUserMenuIns.status.isOpen">

            <li class="header-user">
                <a ng-click="#!/user/profile" class="header-user__link">
                    <span class="header-user__avatar">
                        <img class="img-responsive img-circle m-r-xs header-user__img"
                             ng-src="{{dgUserMenuIns.user.avatar}}">
                    </span>
                    {{dgUserMenuIns.user.username || dgUserMenuIns.user.email}}
                </a>
            </li>

            <li class="m-r-none">
                <a ng-click="dgUserMenuIns.logout($event)">
                    <i class="fa fa-sign-out"></i>
                    Logout
                </a>
            </li>

        </ul>
    </div>

    <a href="#!/user/login"
      ng-if="!dgUserMenuIns.user" ng-click="dgUserMenuIns.login($event)">
        <i class="fa fa-sign-in"></i>
        Login
    </a>
</li>
