<div class="modal-body bg-form">

    <h3 class="bg-form__header">Restore password</h3>
    <p>Board games calendar</p>
    <form class="m-t" role="form" name="authIns.restoreForm" ng-submit="authIns.restorePassword()">

        <div class="form-group">
            <input type="email" name="email" class="form-control" placeholder="Email"
                   ng-model-options="{ debounce: 500 }"
                   ng-model="authIns.userData.email" required>
            <div class="bg-form__error-msg--container" ng-messages="authIns.restoreForm.email.$error">
                <div ng-message="required" ng-if="authIns.restoreForm.email.$dirty">
                    Email is required
                </div>
            </div>
        </div>

        <button type="submit" ng-disabled="authIns.restoreForm.$invalid || authIns.restoreForm.$pending"
                class="btn btn-primary block full-width m-b">
            Restore password
        </button>

        <p class="text-muted text-center">
            <small>
                Return to
                <a href="#!/login" ng-click="authIns.openLogin($event)">Login</a>
            </small>
        </p>
    </form>

</div>
