<div class="modal-body">

    <h3 class="m-t-none m-b">Join Game</h3>
    <p>This is game join description</p>

    <form role="form" name="joinIns.join_game_form" novalidate>
        <div class="row">
            <div class="col-md-4">
                <div class="row" style="margin-top: 12px;">
                    <img class="img-thumbnail img-responsive" ng-src="{{joinIns.playData.img}}" src="http://placehold.it/290x160">
                </div>
                <div class="row" style="margin-top: 15px;">
                    <h3>Players 
                        <span class="label label-primary">
                        {{joinIns.playData.playersMin}} - {{joinIns.playData.playersMax}}
                        </span>
                    </h3>
                    <ul class="list-group clear-list m-t">

                      <li ng-repeat="player in joinIns.playData.players" 
                        class="list-group-item" ng-class="{'fist-item': $first}">
                        
                        <span class="label label-success pull-right" ng-if="player.phone">
                            {{player.phone}}
                        </span>
                        <span class="label" 
                            ng-class="{'label-success': joinIns.isOrg(player),
                            'label-primary': joinIns.isPlayer(player),
                            'label-default': joinIns.isEmpty(player)}">
                            {{$index+1}}
                        </span>
                        {{player.name}}
                      </li>
                    </ul>

                    <div ng-show="!joinIns.limitReached">
                        <button 
                            ng-show="!joinIns.state.alreadyJoined"
                            ng-click="joinIns.join()" is-loading="joinIns.state.isLoading"
                            dg-button-loader data-style="zoom-out" 
                            type="button" class="btn btn-primary m-r-sm btn-block ladda-button">
                            Join Game
                        </button>

                        <button 
                            ng-show="joinIns.state.alreadyJoined"
                            ng-click="joinIns.leave()" is-loading="joinIns.state.isLoading"
                            dg-button-loader data-style="zoom-out" 
                            type="button" class="btn btn-primary m-r-sm btn-block ladda-button">
                            Leave Game
                        </button>
                    </div>
                    <div ng-show="joinIns.limitReached">
                        <!-- TODO: do html -->
                        Sorry limit has been already reached, please contact organizer
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h3>{{joinIns.playData.name}}</h3>
                <p><b>Where</b>: <a href="#">{{joinIns.playData.where}}</a></p>
                <p><b>When:</b>: {{joinIns.playData.when}}</p>

                <p><b>Some info about event:</b><br> {{joinIns.playData.description}}</p>

                <div class="ibox float-e-margins">
                    <div class="ibox-title" ng-click="joinIns.toggleDetails()">
                        <h5>About {{joinIns.playData.name}}</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa" ng-class="{'fa-chevron-up': !joinIns.state.isDetailsOpen, 'fa-chevron-down': joinIns.state.isDetailsOpen}"></i>
                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="ibox-content" ng-show="joinIns.state.isDetailsOpen">
                            <div class="row">
                                <div class="col-md-9">
                                    <p><b>Year Published</b>: {{joinIns.playData.game.published}}</p>
                                    <p><b># of Players</b>: {{joinIns.playData.game.playersMin}} - {{joinIns.playData.game.playersMax}} </p>
                                    <p><b>Playing Time</b>: {{joinIns.playData.game.playTime}}</p>
                                </div>
                            </div>
                            <br>
                            <blockquote>
                            <p style="font-size: 14px; font-style: italic;">
                                {{joinIns.playData.game.description}}
                            </p>
                            </blockquote>
                            <div class="buttons">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block">More on bgg.com</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-default btn-sm btn-block">More on tesera.ru</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
